.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .upload-container {
    text-align: center;
  }
  
  .upload-container input[type="file"] {
    display: none;
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
